<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Marshrutka project / Management</title>
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href = "@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Management</li>
    </ol>
</nav>

<a href="management/points">Show all points</a>
<footer class="footer">
    <div class="container">
        <span class="text-muted">Marshrutka - mini data bus</span>
    </div>
</footer>
</body>
</html>