<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Marshrutka project / Management / Points / Point</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<nav aria-label="breadcrumb">
    <ol class="container breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/management">Management</a></li>
        <li class="breadcrumb-item"><a href="/management/points">Points</a></li>
        <li class="breadcrumb-item active" aria-current="page" th:text="${point.getName()}"></li>
    </ol>
</nav>

<div class="container">
    <dl class="row">
        <dt class="col-sm-3">State:</dt>
        <dd class="col-sm-9" th:text="${point.isActive() ? 'active' : 'inactive'}"
            th:classappend="${point.isActive() ? 'badge badge-success' : 'badge badge-warning'}"></dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">ID:</dt>
        <dd class="col-sm-9" th:text="${point.getId()}"></dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">Name:</dt>
        <dd class="col-sm-9" th:text="${point.getName()}"></dd>
    </dl>

    <hr class="container"/>

    <dl class="row">
        <dt class="col-sm-3">Push receiving:</dt>
        <dd class="col-sm-9" th:text="${point.isPushEnabled() ? 'enabled' : 'disabled'}"
            th:classappend="${point.isPushEnabled() ? 'badge badge-success' : 'badge badge-secondary'}"></dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">Push protocol:</dt>
        <dd class="col-sm-9" th:text="${point.getPushProtocol()}"></dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">Push URL:</dt>
        <dd class="col-sm-9" th:text="${point.getPushURL()}"></dd>
    </dl>
</div>

<hr class="container"/>

<div class="container">
    <dl class="row">
        <dt class="col-sm-3">Messages sent:</dt>
        <dd class="col-sm-9" th:text="${point.getMessagesSent()}"></dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">Messages received:</dt>
        <dd class="col-sm-9" th:text="${point.getMessagesReceived()}"></dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">Messages queued:</dt>
        <dd class="col-sm-9" th:text="${point.getMessagesQueued()}"></dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">Push service has errors:</dt>
        <dd class="col-sm-9" th:text="${point.isPushErroneous() ? 'push has errors' : ''}"
            th:classappend="${point.isPushErroneous() ? 'badge badge-danger' : 'default'}"></dd>
    </dl>
</div>

<footer class="footer">
    <div class="container">
        <span class="text-muted">Marshrutka - mini data bus</span>
    </div>
</footer>
</body>
</html>