<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Marshrutka project / Management / Points</title>
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href = "@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/management">Management</a></li>
        <li class="breadcrumb-item active" aria-current="page">Points</li>
    </ol>
</nav>

<div class="container">
    <div class="row">
        <table class = "table table-responsive-sm table-bordered table-striped table-hover table-sm">
            <tr class="thead-inverse">
                <th>ID</th>
                <th>Name</th>
                <th>Active</th>
                <th>Push receive</th>
                <th></th>
            </tr>
            <tr th:each="point : ${points}">
                <td th:text="${point.getId()}"></td>
                <td><a th:href="@{points/{id}(id=${point.getId()})}" th:text="${point.getName()}"></a></td>
                <td th:text="${point.isActive()}"></td>
                <td th:text="${point.isPushEnabled()}"></td>
                <td><a th:href="@{points/{id}/edit(id=${point.getId()})}">edit</a></td>
            </tr>
        </table>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <span class="text-muted">Marshrutka - mini data bus</span>
    </div>
</footer>
</body>
</html>