<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Marshrutka project / Management / Points / Point</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/management">Management</a></li>
        <li class="breadcrumb-item active" aria-current="page">Points</li>
    </ol>
</nav>

<div class="container">
    <form th:object="${point}" th:method="POST" th:action="@{/points/{id}(id=${point.getId()})}">
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" th:field="*{active}" id="active" readonly>
            <label class="custom-control-label" for="active">Active</label>
        </div>

        <div class="form-group row">
            <label for="id" class="col-sm-2 col-form-label">id:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control-plaintext" th:field="*{id}" id="id" readonly/>
            </div>
        </div>

        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control-plaintext" th:field="*{name}" id="name" readonly/>
            </div>
        </div>

        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" th:field="*{pushEnabled}" id="pushEnabled" readonly>
            <label class="custom-control-label" for="pushEnabled">Push receiving enabled</label>
        </div>

        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Push URL:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control-plaintext" th:field="*{pushURL}" id="pushURL" readonly/>
            </div>
        </div>

        <br/>
    </form>
</div>

<footer class="footer">
    <div class="container">
        <span class="text-muted">Marshrutka - mini data bus</span>
    </div>
</footer>
</body>
</html>